body {
  background: #1f2937;
  color: white;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #e5e7eb;
  padding-left: 20px;
  font-size: 15px;
}

button,
.cta a {
  background-color: #3882f6;
  color: white;
  font-size: 15px;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  margin: 20px 0;
}

button:hover,
.cta a:hover {
  background-color: rgb(183, 56, 56);
}

/*CSS for menu*/
.menu img {
  width: 120px;
}

.links {
  margin: 10px 0;
}

.links a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*CSS for hero*/
.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;
  margin: 70px 0px 120px;
}

.header-left {
  flex: 1 1 300px;
}

.hero img {
  width: 550px;
  height: auto;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
}

.header {
  padding: 0 230px;
}

/*CSS for middle part with small images*/
.middle {
  background-color: white;
  padding: 50px 230px;
  padding-bottom: 60px;
}

.information {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.image-small {
  border: 3px solid #3882f6;
  border-radius: 16px;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.objects {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  color: #1f2739;
}

/*CSS for testimonial */
.testimonial {
  background-color: #e5e7eb;
  padding: 50px 230px;
  padding-bottom: 60px;
}

.testimonial p {
  color: #1f2739;
}

.testimonial .quote {
  font-style: italic;
  font-size: 36px;
  text-align: left;
}

.testimonial .name {
  font-weight: 900;
  text-align: right;
}

/*CSS for signup*/
.cta {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.block {
  background: #3882f6;
  border-radius: 24px;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  gap: 40px;
  box-shadow: 5px 5px 10px rgb(16, 47, 66);
}

.block a {
  width: fit-content;
  height: fit-content;
  flex: 1 0 auto;
  border: 2px solid white;
}

.block .cta-title {
  font-weight: 700;
  margin-bottom: -10px;
}

.block .cta-text {
  font-weight: 300;
}

/*CSS for the footer*/
.footer p {
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  margin: 20px;
}
